div.schedule {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  grid-row-gap: 0;
  padding: 0;
  margin: 0;
}

div.schedule > div {
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid black;
}

div.schedule > div.header {
  grid-column: 1 / span 3;
  font-size: 2rem;
  font-weight: bolder;
  padding: .5rem;
  background-color: #666666;
}

div.schedule > div.day-of-week {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: .5rem;
  background-color: #cc66ff;
}

div.schedule > div.session {

}

div.schedule > div > span.session-title {
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
}

div.schedule > div > span.session-date {
  /* No additional styling */
}



div.schedule > div.no_class {

}


.session_spot {
  grid-column: 1 / 2;
  text-align: center;
}

.preparation_spot {
  grid-column: 2 / 3;
  text-align: center;
}

.in_class_spot {
  grid-column: 3 / 4;
  text-align: center;
}

.topic_spot {
  grid-column: 1 / 3;
  text-align: center;
}


/*section.course_schedule {*/
/*    margin-bottom: 15px;*/
/*}*/

/*table {*/
/*    border: 2px;*/
/*    border-collapse: collapse;*/
/*    table-layout: fixed;*/
/*}*/

/*th, td {*/
/*    border: 2px solid black;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/

/*caption, thead, tfoot {*/
/*    padding: 10px;*/
/*}*/

/*caption {*/
/*    font-size: 250%;*/
/*    font-weight: bold;*/
/*}*/

/*thead, tfoot {*/
/*    background-color: #cc66ff;*/
/*}*/

/*thead th, tfoot th {*/
/*    font-size: 125%;*/
/*    padding: 3px;*/
/*}*/

/*div.no_class_title {*/
/*    font-size: 150%;*/
/*    font-weight: bold;*/
/*    font-style: italic;*/
/*}*/

/*div.session_identifier {*/
/*    padding: 2px;*/
/*}*/

/*span.session_preparation {*/
/*    font-size: 125%;*/
/*    font-weight: bold;*/
/*}*/

/*span.for_session {*/
/*    font-size: 100%;*/
/*}*/

/*span.session_number {*/
/*    font-size: 150%;*/
/*    font-weight: bold;*/
/*}*/

/*span.session_date {*/
/*    font-size: 100%;*/
/*}*/

/*div.session_title {*/
/*    font-size: 110%;*/
/*    font-weight: bold;*/
/*}*/

/*div.session_topics {*/
/*    border: 1px solid black;*/
/*    text-align: left;*/
/*    margin: 2px 5px;*/
/*    padding: 0 2px;*/
/*}*/

/*div.session_topics ul {*/
/*    padding-left: 0;*/
/*    margin-left: 20px;*/
/*}*/

/*div.session_topics ul li {*/
/*    padding-left: 0;*/
/*    margin-left: 0;*/
/*}*/

/*!*span.makeup_session {*!*/
/*!*font-size: 14px;*!*/
/*!*font-weight: bold;*!*/
/*!*}*!*/


/*!*table.session {*!*/
/*!*border: none;*!*/
/*!*}*!*/

/*!*table.no_class_session {*!*/
/*!*width: 100%;*!*/
/*!*}*!*/

/*!*td.session_topics {*!*/
/*!*border: none;*!*/
/*!*}*!*/


/*!*p {*!*/
/*!*!*padding-left: 10px;*!*!*/
/*!*font-size: 18px;*!*/
/*!*font-weight: bold;*!*/
/*!*}*!*/

/*!*ul {*!*/
/*!*padding-left: 0;*!*/
/*!*margin-left: 20px;*!*/
/*!*}*!*/

/*!*ul li {*!*/
/*!*font-size: 14px;*!*/
/*!*}*!*/

/*!*ul li li {*!*/
/*!*font-size: 12px;*!*/
/*!*}*!*/

/*!*ul.exam {*!*/
/*!*background-color: yellow;*!*/
/*!*}*!*/

/*!*span.exam_date_time {*!*/
/*!*font-size: 16px;*!*/
/*!*font-weight: bold;*!*/
/*!*padding: 5px;*!*/
/*!*}*!*/

/*!*span.exam_rooms {*!*/
/*!*font-size: 14px;*!*/
/*!*}*!*/

/*!*div.exam_note {*!*/
/*!*padding-left: 10px;*!*/
/*!*padding-right: 10px;*!*/
/*!*padding-bottom: 10px;*!*/
/*!*font-size: 12px;*!*/
/*!*}*!*/

/*!*li.topic {*!*/
/*!*font-size: 14px;*!*/
/*!*}*!*/

/*!*li li.topic {*!*/
/*!*font-size: 12px;*!*/
/*!*}*!*/

/*!*li.exam {*!*/
/*!*font-size: 18px;*!*/
/*!*font-weight: bold;*!*/
/*!*padding: 5px;*!*/
/*!*}*!*/

/*!*span.parenthetical {*!*/
/*!*font-size: 11px;*!*/
/*!*}*!*/


