<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="styles/style.css" rel="stylesheet" type="text/css">
  <!--    <link rel="stylesheet" type="text/css" href="styles/session_page.css">-->
  <!--  <link href="styles/home_page.css" rel="stylesheet" type="text/css">-->
  <!--  <link href="styles/schedule_page.css" rel="stylesheet" type="text/css">-->
  <link href="styles/navigation_bar.css" rel="stylesheet" type="text/css">

  <title>CSSE 120 Home Page - TERM_NAME, YEAR_NAME</title>
</head>

<body>
<nav>
  <img alt="Ada Lovelace" class="left" height="186" src="Images/AdaLovelace.jpg" width="186">

  <div class="course">
    <p class="course-number">CSSE 120</p>
    <p class="course-name">Introduction to<br>Software Development</p>
    <p class="course-term">TERM_AND_YEAR (aka TERM_PER_BANNER)</p>
  </div>

  <div class="links">
    <a class="nav_link" href="Syllabus/syllabus.html">SYLLABUS</a>
    <a class="nav_link" href="Resources/CSSE120_Setup/index.html">COMPUTER SETUP</a>
    <a href="https://piazza.com/rose-hulman/fall2021/csse120/home">PIAZZA (Q&A)</a>
    <!--  <a href="Resources/Python/index.html">PYTHON</a>-->
    <!--  <a href="Resources/Graphics/index.html">GRAPHICS</a>-->
    <!--  <a href="Resources/Robotics/index.html">ROBOTICS</a>-->
    <!--  <a href="CapstoneTeamProject-202020.pdf">CAPSTONE PROJECT</a>-->
  </div>

  <img alt="Two women coding together" class="right" height="186" src="Images/two-women-coding-together-cropped.png"
       width="200">
</nav>

<p>SCHEDULE</p>
<p> Hello <br> Goodbye</p>
<p> OK </p>
<ul>
  <li>one</li>
  <li>two</li>
  <li>two</li>
  <li>two</li>
</ul>
<ol>
  <li>blah</li>
  <li>foo</li>
  <li> xxx
    <ol type="a">
      <li> inside</li>
      <li> lskdflskdjl</li>
      <li> lskdflskdjl</li>
      <li> lskdflskdjl</li>
    </ol>
  </li>
</ol>

FOOTER

</body>
</html>