<nav>
  <img alt="Ada Lovelace" class="left" height="186" src="Images/AdaLovelace.jpg" width="186">
  <div class="course">
    <p class="course-number">CSSE 120</p>
    <p class="course-name">Introduction to<br>Software Development</p>
    <p class="course-term">TERM_AND_YEAR (aka TERM_PER_BANNER)</p>
  </div>
  <div class="links">
    <a href="Syllabus/syllabus.html">SYLLABUS</a>
    <a href="Resources/CSSE120_Setup/SettingUpYourComputerForCSSE120.pdf">COMPUTER SETUP</a>
    <a href="https://piazza.com/rose-hulman/fall2021/csse120/home">PIAZZA (Q&A)</a>
<!--    <a href="Resources/Python/index.html">PYTHON</a>-->
<!--    <a href="Resources/Graphics/index.html">GRAPHICS</a>-->
<!--    <a href="Resources/Robotics/index.html">ROBOTICS</a>-->
<!--    <a href="CapstoneTeamProject-202020.pdf">CAPSTONE PROJECT</a>-->
  </div>
  <img alt="Two women coding together" class="right" height="186" src="Images/two-women-coding-together-cropped.png"
       width="200">
</nav>