<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,semibold,semibolditalic,bold,bolditalic,extrabold,extrabolditalic"
        rel="stylesheet">
  <link href="../../styles/color_scheme.css" rel="stylesheet">
  <link href="../../styles/style.css" rel="stylesheet">
  <link href="../../styles/navigation_bar.css" rel="stylesheet">
  <link href="../../styles/sessioh_page.css" rel="stylesheet">

  <title> CSSE 120: Session __SESSION_NUMBER__ </title>
</head>

<body>

NAVIGATION_BAR
<!--  <img src="../../../Images/girls_who_code2_90x60.png" alt="Girls coding together"/>-->

<div class="session-header">
  Session <span class="session-number"> __SESSION_NUMBER__ </span>
  <span class="distinguish-from-surrounding">Preparation</span> and
  <span class="distinguish-from-surrounding">Start-the-Session</span>
</div>

<div class="session-body">
  <div class="preparation">
    <div class="preparation-header">Prepartion</div>
    <p> BEFORE this session, for each of the following videos or reading: </p>
    <ul>
      <li>
        <span class="emphasis">Watch the video</span> (or read the reading), and
        <span class="emphasis">as you do so,</span>
      </li>
      <li> <span class="emphasis"> do the associated quiz in Moodle.</span> </li>
    </ul>

    __PREPARATION_START__
    __PREPARATION_BODY__
  </div>
  <div class="quizzes-for-learning">
    <div class="quizzes_for_learning-header">The quizzes are for your LEARNING. They are NOT exams. </div>
    <ul>
      <li>
        As long as you do the quiz (and take it seriously), you
        get FULL CREDIT even if you miss some of the problems.
      </li>
      <li>
        Don't be troubled if your answer is marked wrong.
        Just <span class="critical"> BRING YOUR QUESTIONS TO CLASS. </span>
      </li>
    </ul>
  </div>
  <div class="start-the-session"> {
    __START_THE_SESSION_START__
    __START_THE_SESSION_BODY__
  </div>
</div>

FOOTER

</body>
</html>
