<div class="start-the-session-quiz">
  <div class="start-the-session-quiz-header">
    Start-the-Session <span class="distinguish-from-surrounding">Quiz</span>
  </div>
  <div class="start-the-session-quiz-body">
    <p>
      <span class="emphasis">AFTER completing the Preparation to the left:</span>
    </p>
    <ol class="instructions">
      <li>
        <span class="critical"> Do this </span>
        <a href="../Quizzes/Quiz__QUIZ_NUMBER__.pdf"><span
              class="start-the-session-quiz">start-the-session quiz.</span></a>
        <ul>
          <li>
            You do not have to print the quiz (unless you want to). Just hand-write your answers on
            paper or type your answers into a file, whichever is easier for you.
          </li>
        </ul>
      </li>
      <li>
        <span class="critical"> Check your own answers </span>
        <span class="emphasis">by watching the videos listed below.</span>
        <ul>
          <li>
            Of course, do that Start-the-Session quiz BEFORE you watch the videos below that show a solution to it.
          </li>
          <li>
            Check your answers carefully!
            If you have questions about any of the answers,
            <span class="emphasis">get help BEFORE proceeding</span>,
            if at all practical.
          </li>
        </ul>
      </li>
      <li>
        <p>
          <span class="critical"> Turn in your answers to the Before-the-Session Quiz in the usual way, on Moodle, </span>
          via the item named
          <span class="name-of-something">Turn in your Before-the-Session Quiz here.</span>
        </p>
      </li>
    </ol>
    <p>
      For your reference, here is a written
      <a href="../Quizzes/Quiz__QUIZ_NUMBER__-SOLUTION.pdf">Answer Key</a> to the above Before-the-Session Quiz.
    </p>
    <p>
      <span class="emphasis"> The videos with the solutions are: </span>
    </p>
    <ol>
      __SESSION_SECTION_ITEMS__
    </ol>
  </div>
</div>
