<div class="start-the-session-follow-me">
  <div class="start-the-session-follow-me-header">
    Start-the-Session <span class="distinguish-from-surrounding">Follow-Me</span> exercises
  </div>
  <div class="start-the-session-follow-me-body">
    <p>
      <span class="emphasis">AFTER completing the Start-the-Session Quiz to the left:</span>
    </p>
    <ol class="instructions">
      <li>
        Open PyCharm. Do:
        <blockquote>
          <span class="big_code">VCS ~ Update Project</span>
        </blockquote>
        to obtain the new in-class project if it is not already in your list of projects in PyCharm.
      </li>
      <li>
        Watch the <span class="distinguish-from-surrounding">Follow-Me</span> videos listed below.
        As you watch each video:
        <ul>
          <li>
            <span class="critical">Do the coding in PyCharm,</span> following what you see on the video.
          </li>
          <li>
            <p>
              You can do the coding as the video does it or by reviewing the video afterwards (your choice).
            </p>
          </li>
          <li>
            The key is to <span class="emphasis">UNDERSTAND</span> what you are coding,
            not merely type what the video shows.
          </li>
        </ul>
      </li>
    </ol>
    <p>
      The <span class="distinguish-from-surrounding">Follow-Me</span> videos for this session are as follows.
      (Do them in the order listed.)
    </p>
    <ol class="start-the-session-follow-me">
      __SESSION_SECTION_ITEMS__
    </ol>
  </div>
</div>



